.body-prescricao{
    gap: 20px;
}

.card-medicamentos{
    gap: 8px;
}

.card-medicamentos select{
    padding: 5px 5px;
    color: var(--cor-ui-texto-principal);
    background-color: var(--cor-ui-fundo-pagina);
    font-weight: bold;
    font-size: 15px;
}

.card-medicamentos select option{
    padding: 5px 5px;
    color: var(--cor-ui-texto-principal);
    background-color: var(--cor-ui-fundo-pagina);
    font-weight: bold;
}

.card-medicamentos input::-webkit-inner-spin-button, input::-webkit-outer-spin-button{
    appearance: none;
}

.card-medicamentos select:invalid{
    padding-left: 5px;
    color: rgb(80, 87, 103);
}

.card-medicamentos select option[disabled]{
    cursor: not-allowed;
}

.card-prescricao{
    gap: 8px;
}

.lista td{
    text-align: center;
}