:root {
    --txt-principal: aliceblue;
    --txt-nav: rgb(148, 163, 184);
    --txt-nav-hover: rgb(203, 213, 225);
    --txt-main-title: rgb(226, 232, 240);
    --borda-nav: rgb(51, 65, 85);
    --fundo-principal: rgb(15, 23, 42);
    --fundo-secundario: rgb(30, 41, 59);
    --fundo-secundario-hover: rgb(51, 66, 90);
}

body{
    background-color: var(--fundo-principal);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin: 0px;
}

main{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 20px;
    gap: 20px;
}

main a{
    text-decoration: none;
}

.main-title{
    color: var(--txt-main-title);
    padding: 0px 20px;
}

.nav{
    background-color: var(--fundo-secundario);
    border-bottom: 1px solid var(--borda-nav);
    padding: 0px 20px;
}

.nav-title{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--txt-principal);
    font-size: 30px;
    padding: 10px 0px;
    margin: 0px;
    border-bottom: 1px solid var(--borda-nav);
}

.nav-link{
    color: var(--txt-nav);
    text-decoration: none;
}

.nav-link:hover{
    color: var(--txt-nav-hover)
}

.nav-list-links{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 5px;
    gap: 20px;
    list-style-type: none;
}

.card{
    background-color: var(--fundo-secundario);
    color: var(--txt-principal);
    border-radius: 10px;
    padding: 10px;
    height: 125px;
    width: 400px;
    transition: 0.12s;
}

.card:hover{
    background-color: var(--fundo-secundario-hover);
    transform: scale(1.02);
}

.card h3{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card p{
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes fadeIn {
0% { opacity: 0.2; }
100% { opacity: 1; }
}

@media (max-width: 768px) {
    nav, main {
        padding: 0px 20px;
    }

    header {
        padding: 0px 20px;
    }
}