.card{
    animation: none;
    margin: auto;
    height: auto;
    min-width: 350px;
    width: auto;
    list-style-type: none;
}

.card:hover{
    background-color: var(--cor-ui-fundo-card);
    transform: none;
}

.cabecalho {
    display: flex;
    padding: 0px 10px;
    background-color: var(--cor-ui-fundo-card-hover);
    font-weight: bold;
}

.cabecalho span{
    font-size: 20px;
}

.card-form{
    padding: 10px 10px 0px 10px;
    gap: 8px;
}

.form-body select {
    padding: 5px 5px;
    color: var(--cor-ui-texto-principal);
    background-color: var(--cor-ui-fundo-input);
    font-weight: bold;
    font-size: 15px;
    max-width: 330px;
}

.form-body select option {
    padding: 5px 5px;
    color: var(--cor-ui-texto-principal);
    background-color: var(--cor-ui-fundo-input);
    font-weight: bold;
}

.form-body select:invalid{
    padding-left: 5px;
    color: rgb(80, 87, 103);
}

.form-body select option[disabled] {
    cursor: not-allowed;
    color: #505767;
}

.form-box{  
    background-color: var(--cor-ui-fundo-input);
    border: 1px solid var(--cor-ui-borda-input);
    border-radius: 3px;
    color: var(--cor-ui-texto-principal);
    padding-left: 10px;
    height: 30px;
    width: auto;
}

.form-box::placeholder{
    color: var(--cor-ui-texto-principal);
    font-weight: bold;
    opacity: 0.3;
}

.page {
    gap: 20px;
}

@media screen and (max-width: 600px) {
  .form-form, .form-box, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}